#container .cadasbody {
    align-content: center;
    color: chocolate;
    background-color: white;
    width: 100%;
    max-width: 75rem;
    border-radius: .8rem;
    margin-top: 0rem;
    margin: 3.2rem;
    padding-top: .4rem;
    text-align: center;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#container .cadasbody h2 {
    padding-bottom: 1rem;
}

#container {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.fieldset {
    border: none;
    padding: 2.4rem;
    margin-bottom: 2rem;
}

.fieldset legend {
    font: 2.4rem  Archivo;
    font-weight: 500;
    color: chocolate;
    margin-bottom: 2.4rem;

    width: 100%;

    padding-bottom: 1.6rem;
    border-bottom: 1px solid lightgray ;
}

.fieldset .legend .button {
    background: none;
    border: 0;

    color: yellow;

    font: 700 1.6rem Archivo;

    cursor: pointer;

    transition: 0.2;
}

.fieldset .legend .button:hover {
    color: gold;
}

fieldset+fieldset {
    margin-top: 6.4rem;
}

.input-block+.input-block, .input-block {
    margin-top: 2.4rem;
    margin: .5rem;
}

.input-block label{
    font-size: 1.4rem;
    color: chocolate;
}

.input-block input {
    width: 100%;
    height: 2rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: #F8F8FC;
    border: 1px solid lightgray;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.input-block:focus-within::after, .textarea-block:focus-within::after {
    content:"";

    width: calc(100% - 3.2rem);
    height: 2px;
    background: lightgray;
    
    position: absolute;
    left: 1.6rem;
    bottom: 0px;
}

label small {
    font-size: .8rem;
    padding-left: 1.2rem;
    color: lightgray;
}

.insira {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
    color: lightgray
}
button {
    color: gold;
    background-color:rgb(153, 93, 51);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 500 1.5rem Archivo;
    transition: 0.2s;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button:hover {
    background-color: gold;
    color: rgb(43, 32, 18)
}

@media (min-width: 700px) {

    .input-block, .input-block+.input-block{
        margin-top: 0;
    }
}